.custom img{
    height: 100px;
}

.custom{
    height: 120px;
}

.touch{
    background-color: RGB(252, 234, 232);
}

.touch h6{
    color: gray;
}

/* #carouselExampleSlidesOnly{
    background-color: RGB(252, 234, 232);
} */

.panda-slide .carousel-item{
    background-color: RGB(252, 234, 232);
    padding: 30px 0;
    border-radius: 10px;
}

.slide-image img{
    height: 450px;
}

.panda-card{
    border: 0;
}

.panda-footer{
    border: 0;
}