
      /* Header Area Design */

header{
    margin-top: 50px;
}

h1{
    font-family: 'Oswald', sans-serif;
}

h4{
    font-weight: bold;
}

p{
    font-size: 20px;
}

.logo img{
    height: 40px;
    width: 300px;
}

.navbar-light .navbar-nav .text-color{
    color: #000;
    font-size: 18px;
    font-weight: 600;
}

.button-color{
    background-color: blue;
    padding: 15px 35px;
    border: none;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
}

      /* CASUAL SHOES SECTION  */

.shoe{
    width: 93%;
    height: 93%;
    margin: auto;
    margin-top: 10px;
    border-radius: 20px;
    background-color: rgb(228, 237, 240);
}

.panda-card{
    border: 0;
}

.panda-footer{
    border: 0;
}


      /* Tolley Part */
     
      .card .pic-resize img{
          height: 100px;
          width: 100px;
        
      }

      .row .picture img{
          height: 450px;
          width: 550px;
      }

      .zero .card {
          border: none;
    
      }

      .col-md-4 img{
          height: 100px;
          width: 100px;
      }

      .right-pic img{
          height: 400px;
          width: 500px;
          margin-left: 50px;
      }

      .custom{
          padding: 50px 0;
      }

      .subscribe{
          background-color: rgb(235, 226, 214);
          border-radius: 20px;
      }

    